.container {
    min-height: 100vh;
    background-color: #eee;
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.button-container {
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.search-container {
    margin-bottom: 60px;
}

.search-container h1 {
    margin-bottom: 60px;
}